body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

div > div > div {
  background-color: #cfff8f;
  width: 100px;
  height: 100px;
}

div > div > button {
  padding: 8px 12px;
  margin: 0 10px 5px 0;
} */
